
@{
    ViewBag.Title = "Registration Page";
    @model PortfolioASP.NET.Models.ViewModelManager
}
<br />
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="jumbotron">
            <h3 class="text-center">Register</h3>
            <hr style="border : 0; height: 1px;
                    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.0));" />
            <br />
            @using (Html.BeginForm("SubmitRegister", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <div class="form-group input-border">
                    @Html.LabelFor(m => m.RegisterModel.Login, "Login", new { @class = "offset-1" })
                    @Html.TextBoxFor(m => m.RegisterModel.Login, new { @class = "form-control rounded-0 col-10 offset-1" })
                </div>
                <div class="form-group input-border">
                    @Html.LabelFor(m => m.RegisterModel.Email, "Email address", new { @class = "offset-1" })
                    @Html.TextBoxFor(m => m.RegisterModel.Email, new { @class = "form-control rounded-0 col-10 offset-1" })
                </div>
                <div class="form-group input-border">
                    @Html.LabelFor(m => m.RegisterModel.Password, "Password", new { @class = "offset-1" })
                    @Html.PasswordFor(m => m.RegisterModel.Password, new { @class = "form-control rounded-0 col-10 offset-1" })
                </div>
                //TODO fix that shiet
                <!--wider than phones-->
                <div class="row">
                    <div class="col-12 col-md-6 offset-1">
                        <div class="form-check">
                            @Html.CheckBoxFor(m => m.RegisterModel.AcceptTerms, new { @class = "form-check-input"})
                            <label class="form-check-label" for="acceptRules"><small class="text-muted">Agree<a href="@Url.Action("Terms", "Home")" class="card-link"> Terms and Conditions</a></small></label>
                        </div>
                        <small id="helper" class="form-text text-muted d-none d-md-block">We will never share your personal data with anyone.</small>
                    </div>
                    <div class="col-10 offset-1 col-md-3 offset-md-1">
                        <button type="submit" class="btn btn-primary float-right col-12">Submit</button>
                    </div>
                </div>
                <!--END-->

                @*<!--Only for phones-->
                <div class="row">
                    <div class="col-12 d-md-none">
                        <div class="row">
                            <div class="col-10 offset-1">
                                <div class="form-check" style="margin-bottom: 10px;">
                                    @Html.CheckBoxFor(m => m.RegisterModel.AcceptTerms, new { @class = "form-check-input" })
                                    <label class="form-check-label" for="acceptRules"><small class="text-muted">Agree<a href="@Url.Action("Terms", "Home")" class="card-link"> Terms and Conditions</a></small></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10 offset-1">
                                <button type="submit" class="btn btn-primary col-12">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END-->*@
            }
        </div>
    </div>
    <div class="col-md-6 d-none d-md-block">
        <div class="jumbotron">
            <h3 class="text-center">Hints</h3>
            <hr style="border : 0; height: 1px;
                    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.0));" />
            <br />
        </div>
    </div>
</div>